<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.decorators">
<decorator
    id="jp.lnc.label_decoration_sample.decoratordemo.ui.decorator.demodecorator"
    label="Sample Decorator Example"
    state="false"
    class= "jp.lnc.label_decoration_sample.ui.decorator.DemoDecorator"
  objectClass="org.eclipse.core.resources.IResource"
    adaptable="true">
    <description>
      This is an example to illustrate the use of decorators
    </description>
  </decorator>
</extension>
</plugin>
